/************************* GENRIC STYLING *********************************/
body{
    margin:0;
    overflow:hidden;
    font-size: 40;
}

*{
    box-sizing: border-box;
}


/************************** TITLE BAR **************************************/
.title-bar{
    /* height:5vh; */
    height: 2.5rem;
    background-color:#107c41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/************************** MENU BAR **************************************/
.menu-bar{
    /* height:5vh; */
    height: 2.5rem;
    background-color:#107c41;
    display: flex;
}

.menu-item.selected{
    background-color: #fff;
    color:#107c41;
}

.menu-item:hover{
    background-color: #107c41;
    cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}


.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 18;
    display: flex;
    align-items: center;
}

.menu-icon-bar{
    /* height:6vh; */
    height:2.8rem;
    background-color: rgb(241,241,241);
    display: flex;
    align-items: center;
}

.menu-icon{
    padding-right: 10px;
    padding-left: 10px;
}

.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}

.selector{
    height:30px;
    font-size: 18px;
}

.font-family-selector{
 
    width: 150px;
}

.selector options{
    font-size: 18px ;
}

/************************ FORMULA BAR *******************************************/
.formula-bar{
    /* height:5vh;   */
    height: 2.5rem;
    display:flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(241,241,241);
}

.formula-bar img{
    display: inline-block;
    height: 60%;
    margin-right:0.5rem;
    margin-left:0.5rem;
}

.function-sign{
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formula-input{
    width: calc(100vw - 160px);
    outline-color:  #107c41;
}

.menu-icon.selected{
    background-color: lightgray;
}

.formula-editor{
    height: 70%;
    border:1px solid lightgray;
    background-color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell{
   /* box showing the address of selected cell */
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/************************* CELLS CONTAINER ***************************************/
.data-container{
    /* height:75vh; */
    /* height of following are deducted : title-bar,menu-bar,menu-icon-bar,formula-bar,sheet-bar */
   display: flex;
  position: relative;
   height:calc(100vh - ( 2.5rem + 2.5rem + 2.8rem + 2.5rem + 2rem) );

   flex-wrap: wrap;
    /* flex-direction: row; */
    /* overflow: scroll will hide all overflowing content and cause scroll bars to appear on the element in question. If the content does not overflow, the scrollbars will still be visible, but disabled.
overflow: auto is very similar, but the scrollbars only appear when the content is overflowing.*/
    overflow:scroll; 
    /* so that data continer moves to the position where we it dont have elements present there */
}

.select-all{
    /* width: 30px; */
    /* height: 30px; */
    height: 2rem;
    width: 2rem;
    border:1px solid lightgray;
    background-color: gray;
    /* margin-top: 0rem; */
    /*  for the select all(gray box) we provide some left spacing */
    /* margin-left: 0rem; */
    top:0rem;
    left:0 rem;
    /* z-index: 3; */
    position: absolute;
  
  
}
/* where each column headers will be present like A,B,C,D, other wise called as top row of data container */
.column-name-container{
    /* width:calc(100vw - 30px); */
    /* height:30px; */
    position: absolute;

    height: 2rem;
    border: 1px solid lightgray;
    display: flex;
    /* position: relative; */
    /* top: -2rem;
    left: 2rem; */
    /* background-color: lightgray; */
    background-color: rgb(241,241,241);
    /* even when we scrolle towards top we dont want this top row/column_name_container to move towards top  */ 
   
  /* top: 0rem;
    /*  for the select all(gray box) we provide some left spacing */
    /* margin-left: 2rem;
    z-index: 3; */ 
    top:0rem;
    left:2rem;
    /* z-index: 3; */
}
/* where each row sidebar will be present like 1,2,3,4,5 other wise called as left_column of data container */

.row-name-container{
    /* width:30px; */
    width: 2rem;
    /* height:calc(75vh - 30px); */
    border: 1px solid lightgray;
    /* position: relative; */
    /* top: -2rem; */
    /* overflow: hidden; */
    /* background-color: lightgray; */
    background-color: rgb(241,241,241);
  /* even when we scrolle towards left we dont want this left column/row_name_container to move towards left */
    /* position: sticky; */
    /* for the select all(gray box) we provide some left spacing */
    top: 2rem;
    left: 0rem;
    position: absolute;
    /* z-index: 3; */
}

.input-cell-container{
    /* width:calc(100vw - 30px); */
    /* height:calc( 75vh - 30px); */
    border: 1px solid lightgray;
    /* position: relative; */
    position: absolute;
    top: 2rem;
    left: 2rem;
}
 /*each cell in the top row above grid continer/cell in the column_name_container */
   
.column-name{
   /* because flex in column_name_container will try to strech the items to make it fit within the container so we have to provide certain min width so that it wont blur the content  */
    min-width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid lightgray; 
    font-weight: "bold";
}

.row-name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* because flex in row_name_container will try to strech the items to make it fit within the container so we have to provide certain min height so that it wont blur the content  */ 
   
    min-height:25px;
    border-bottom: 1px solid lightgray;
}

.cell-row{
    display: flex;
}

.input-cell{
    min-width:100px;
    min-height:25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color:  #107c41;
}


.input-cell.selected1{
    border: 3px solid #107c41;
}

/************************* SHEETS CONTAINER ***************************************/

.sheet-bar{
    /* height:4vh; */
    height:2rem;
    display: flex;
    align-items: center;
}

.scroller{
    width:70px;
}

.icon-left-scroll , .icon-right-scroll{
    font-size: 30px;
}

.icon-left-scroll:hover , .icon-right-scroll:hover{
    background-color: lightgray;
    cursor: pointer;
}

.icon-add{
    color: #107c41;
    width:40px;
}

.icon-add:hover{
    cursor: default;
    color: #107c41;
    width:40px;
    transform: scale(1.2);
}

.sheet-tab-container{
    border: 1px solid lightgray;
    /* 110px=70px(scroller)+40px(add button) */
    width:calc(100vw - 110px);
    display: flex;
    align-content: space-around;
    overflow:hidden;
}

.sheet-tab{
    border-bottom: 4px solid #107c41;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    min-width: 80px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgray;
}

.sheet-tab:hover{
    cursor: default;
}